* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.container{
    display: grid;
    gap: 10px;
    padding: 0px;
}
.item{
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}
img{
    width: 100%;
    height: auto;
}
.content{
    padding: 10px;
}
.action-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.live-box{
    background-color: #d63384;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
.watching{
    font-size: 14px;
    color: #333;
}
@media (max-width: 600px){
    .container{
        grid-template-columns: 1fr;
    }
    body{
        font-size: 14px;
    }
}

@media (min-width: 601px) and (max-width: 1024px){
    .container{
        grid-template-columns: 1fr 1fr;
    }
    body{
        font-size: 16px;
    }
}

@media (min-width: 1025px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    body{
        font-size: 18px;
    }
}
