* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "header header header"
        "aside1 content aside2"
        "footer footer footer";
    height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
}
header {
    grid-area: header;
    background-color:orangered;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}
aside1 {
    grid-area: aside1;
    background-color:yellow;
    padding: 20px;
}
aside2{
    grid-area: aside2;
    background-color:pink;
    padding: 20px;
}
main {
    grid-area: content;
    background-color: #2c87e3;
    padding: 20px;
 
    text-align: left;
}
footer {
    grid-area: footer;
    background-color: #50f150;
    padding: 20px;
}

@media (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "content content"
            "aside1 aside2"
            "footer footer";
    }
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "content"
            "aside1"
            "aside2"
            "footer";
    }
}
