h1{
    color: E0FFFF;
    text-transform: uppercase;
    position: absolute;
    left: 20%;
}
#img{
    height: 300px;
    top: 20px;
    left: 25%;
    position: absolute;
    top: 80px;
}
.container{
    position: relative;
    width: 600px;
    height: 700px;
    background-color: aqua;
    border: 1px solid black;
}

.anh{
    width: 120px;
    position: absolute;
    top: 450px;
    left: 30%;
}
p{
    position: absolute;
    top: 390px;
    left: 40%;
}
